{% extends 'base.html.twig' %}

{% block title %}Hello GalleryController!{% endblock %}

{% block body %}
<section>
	<h2>Mes oeuvres</h2>
		<div class="container_mesoeuvres">
			{% for artwork in artworks %}
				<div class="card_complet">
					<div id="image-carousel" class="splide" aria-label="Beautiful images">
						<div class="splide__track">
							<ul class="splide__list">
								{% if artwork.imageName %}
									<li class="splide__slide"><img src="{{asset("images/"~ artwork.imageName)}}" alt="{{artwork.title}}"></li>
								{% endif %}
								{% if artwork.image2Name %}
									<li class="splide__slide"><img src="{{asset('images/'~ artwork.image2Name )}}" alt="{{artwork.title}}"></li>
								{% endif %}
								{% if artwork.image3Name %}
									<li class="splide__slide"><img src="{{asset('images/'~ artwork.image3Name )}}" alt="{{artwork.title}}"></li>
								{% endif %}
							</ul>
						</div>
					</div>
					<h3>{{artwork.title}}</h3>
					<p>{{ artwork.description|slice(0, 30) ~ (artwork.description|length > 30 ? '...' : '') }}</p>
					{% if artwork.description|length > 30 %}
						<a class="see_more" href={{path ("artview", {id: artwork.id}) }}>Voir plus...</a>
					{% endif %}
					<div class="btn_bloc">
						{% if app.user == artwork.user %}
						<a href="{{ path('modify_artwork', {'id': artwork.id}) }}">Modifier</a>
						<form method="POST" onsubmit="return confirm('Confirmer la suppression?')" action="{{ path('delete_artwork', {'id': artwork.id}) }}">
							<input type="hidden" name="_method" value="delete">
							<input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ artwork.id) }}">
							<button class="btn_suppr">Supprimer</button>
						</form>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
