<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
	   <meta name="viewport" content="width=device-width, initial-scale=1.0">

	   {# {% block linkfavicon %}
	  	 <link rel="icon" type="image/png" href="{{asset("/img/accueilfavicon.png")}}" sizes="96x96" />
        {% endblock %} #}
        <title>{% block title %}Accueil{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    
        {% block header %}
	   <header>
		<nav>
			<div class="logo_message">
				<a class="nav_logo" href={{path ("home")}}><img src="{{ asset('img/logo.png') }}" alt="logo"></a>
					{% if is_granted('ROLE_USER') %}
				<div class="welcome_login"><em>Bienvenue à toi {{ app.user.firstname |capitalize}} !</em></div>
			</div>
			<div class="menu_dropdown">
				<ul>
					{% endif %}
					<li><a class="{% if app.request.attributes.get('_route') == 'home' %} active {% endif %}" href={{path('home')}}>Accueil</a></li>
					<li><a class="{% if app.request.attributes.get('_route') == 'all_artist' %} active {% endif %}" href={{path ('all_artist')}}>Artistes</a></li>
					<li><a class="{% if app.request.attributes.get('_route') == 'gallery' %} active {% endif %}" href={{path('gallery')}}>Galerie</a></li>
					<li><a class="{% if app.request.attributes.get('_route') == 'artist' %} active {% endif %}" href={{path('artist')}}>Mon espace</a></li> 
					{# {% if not is_granted('ROLE_ADMIN') %}
						{% else %}
							<li><a href={{path ("admin")}}>Tableau de Bord</a></li>
					{% endif %} #}
					{% if is_granted('ROLE_USER') %}
						<li><a href={{path('app_logout')}} title="Se déconnecter"><i class="fa-solid fa-right-from-bracket"></i></a></li>
					{% endif %}

				</ul>
				<i class="fa-solid fa-bars"></i>
			</div>
		</nav>
	</header>
	   
	   {% endblock %}
        
	   {% block message %}
		{# Gestion des messages #}
			{# messages succes #}
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
				{{ message }}
				</div>
			{% endfor %}
			{# messages bloquants #}
			{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
			{% endfor %}
			{# messages avertissements #}
			{% for message in app.flashes('warning') %}
			<div class="alert alert-warning">
				{{ message }}
			</div>
			{% endfor %}
	   {% endblock %}

	   {% block footer %}
	   		
	   	<footer>
			<div class="footer">
				<div class="foot_resp_left">
					<div class="footbar">
						<h4>Menu</h4>
						<a href={{path ("home")}}>🏠 Accueil</a>
						{# <a href={{path ('')}}> Artistes</a>
						<a href={{path ('')}}> Galerie</a> #}
					</div>
					<div class="contact">
						{# <h4><a href={{path('')}}>Nous contacter</a></h4> #}
					</div>
				</div>
				<div class="copyright">
					<a class="logofoot" href={{path ("home")}}>
					{# <img src="{{ asset('img/') }}" alt="logo"> #}
					</a>
					<p>© - 2025 - ARTisfair - Tous droits réservés</p>
				</div>
				<div class="foot_resp_right">
					<div class="about">
						<h4>A propos d'ARTisfair</h4>
						{# <a href={{path ("mentions")}}>⚖ Mentions légales</a> #}
						<a href="">Conditions d'utilisation</a>
					</div>
				</div>
			</div>
		</footer>
	   {% endblock %}
	   
	   {% block body %}{% endblock %}
    </body>
</html>
